@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap");

@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}

.main-background {
  width: 100%;
  height: 900px;
  background-size: cover;
  margin: auto;

  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  background-image: url(./img/22.jpg);
}

section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-size: auto;
  position: absolute;

  background-repeat: repeat;
  background-position: bottom;
  padding: 1px;
  background-image: url(./img/32.jpg);
}

.main-title {
  margin-top: 18%;
  position: relative;
}

.main-title h1 {
  width: 100%;
  color: #fff;
  font-size: 8em;
  margin: 0;
  text-align: center;
}

.main-title h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.main-title h1:nth-child(2) {
  top: 0;
  color: #5ea077;
  position: absolute;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

#main-inner {
  font-family: "Noto Serif Lao", serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: -5px;
  font-size: 35pt;
  font-weight: 900;
}
.masking {
  z-index: 3;
  margin-top: -144px;
  display: flex;
  justify-content: center;
}

.aboutMe {
  font-size: 15pt;
  line-height: 2em;
  border-color: #ffffff;
}
.intro {
  text-shadow: 0px 3px 1px #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 40pt;
  font-weight: 900;
  color: #5f9560;
}

#introInner {
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: -0.5px;
  font-size: 13pt;
  line-height: 2em;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
  color: #000000;
}
.aboutQ {
  font-family: "Libre Baskerville", serif;
  color: rgb(255, 255, 255);
  font-size: 14pt;
  line-height: 3em;
}
.aboutA {
  font-family: "Gowun Dodum", sans-serif;
  letter-spacing: 3px;
  font-size: 14pt;
  color: #634533;
  font-weight: 900;
}

.second-box {
  width: 50%;
  max-width: 550px;
  background: linear-gradient();
  box-shadow: 0px 0px 10px 6px rgba(1, 1, 1, 0.24);
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: -150px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  padding: 60px;
}

.textBox {
  font-family: "Noto Serif KR", serif;
  // max-width: 100ch;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 100px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  font-size: 16pt;

  transform: scale(1);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);

  .line {
    text-decoration-line: inherit;
  }
  > span {
    display: inline-block;
    opacity: 0;
    filter: blur(2px);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.textIn {
  color: #41624d;
}
.name {
  font-weight: 700;
  font-size: 20pt;
  color: #1b3f13;
}

.wrapper.v1 {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
}

.skill {
  margin-bottom: 50px;
}

.wrapper.v2 {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.v1 h4 {
  font-family: "Monument", sans-serif;
  margin: 1.5rem;
  display: inline-flex;
  font-size: 4rem;
  background-position: 0 0;
  background-clip: text;
  -webkit-text-fill-color: #9f551da7;
  animation: animatedTwo 50s linear infinite;
  text-shadow: 0px 0px 10px #ffffff;
}

.v2 h4 {
  font-family: "Monument", sans-serif;
  margin: 1.5rem;
  display: inline-flex;
  font-size: 4rem;
  background-clip: text;
  -webkit-text-fill-color: #9f551da7;
  animation: animatedTwo 50s linear infinite;
  text-shadow: 0px 0px 10px #ffffff;
}

@keyframes animatedTwo {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}

.icons {
  width: 250px;

  &:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: #ffffff;
}

.gifZip {
  text-align: center;
}

.gifs {
  display: flex;
  width: 50%;
  margin: 10px auto;
}

.gitTitle {
  font-family: "Libre Baskerville", serif;
  font-size: 20pt;
  margin-bottom: 10px;
}

.github {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 15pt;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: underline;
}

.question1 {
  font-family: "Gowun Dodum", sans-serif;
  letter-spacing: 3px;
  font-size: 20pt;
  color: #077842;
  font-weight: bolder;
  margin: 80px 0 50px;
}

.answer {
  justify-content: center;
  font-family: "Gowun Dodum", sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  font-size: 15pt;
  color: #313131;
  font-weight: 600;
  margin: 0 auto 50px;
  max-width: 900px;
}

#fin {
  margin-bottom: 70px;
}
