.top {
  color: #313131;
  font-weight: bold;
  font-family: "Gowun Dodum", sans-serif;
  background-color: rgba(255, 255, 255, 0.637);
  width: 15em;
  margin: 2em auto;
  border-radius: 10px;
  font-size: 15pt;
  padding: 5px;
}

/* 모바일 기기 */
@media only screen and (max-width: 767px) {
  .v2 h4 {
    font-family: "Monument", sans-serif;
    font-size: 3rem;
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(16, 16, 16);
    -webkit-text-fill-color: #ffffff00;
    text-shadow: 0px 0px 10px #c0ac8d;
  }

  .v3 h4 {
    font-family: "Monument", sans-serif;
    font-size: 3rem;
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(16, 16, 16);
    -webkit-text-fill-color: #ffffff00;
    text-shadow: 0px 0px 10px #61967d;
  }

  #openCloseBox {
    font-family: "Monument", sans-serif;
    width: 100%;
    #openCloseBtn {
      background-color: white;
      height: 1.5em;
      text-align: center;
      margin: 5em auto;
      border-radius: 10px;
      color: #6a6a6a;
      letter-spacing: 2px;
      font-weight: bolder;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5pt;
    }

    #openCloseBtn:hover,
    #openCloseBtn:focus {
      color: #c8c8c8;
      transition: all ease 0.2s 0s;
    }
  }
  .gifZip {
    animation: fadeIn 2s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 5;
      transform: translateZ(0);
    }
  }

  .gifs {
    display: flex;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    border: solid 1px rgb(166, 166, 166);
    box-shadow: 0px 8px 10px #808080;
  }

  .gitTitle {
    font-family: "Libre Baskerville", serif;
    font-size: 17pt;
    margin-bottom: 10px;
  }

  .github {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 13pt;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: underline;
  }

  .question1 {
    font-family: "Gowun Dodum", sans-serif;
    letter-spacing: 2pt;
    font-size: 17pt;
    color: #8d5a36;
    font-weight: bolder;
    margin: 80px 0 50px;
  }

  .question2 {
    font-family: "Gowun Dodum", sans-serif;
    letter-spacing: 2pt;
    font-size: 17pt;
    color: #3a773f;
    font-weight: bolder;
    margin: 80px 0 50px;
  }

  .answer {
    justify-content: center;
    font-family: "Nanum Gothic Coding", monospace;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 10pt;
    color: #515151;
    font-weight: 600;
    margin: 0 auto 50px;
    max-width: 600px;
    padding-top: 15pt;
  }
}

/* 태블릿 기기 (768px ~ 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .v2 h4 {
    font-family: "Monument", sans-serif;
    margin: 1.5rem;
    display: inline-flex;
    font-size: 4rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(16, 16, 16);
    -webkit-text-fill-color: #ffffff00;
    text-shadow: 0px 0px 10px #f15e28;
  }

  .v3 h4 {
    font-family: "Monument", sans-serif;
    margin: 1.5rem;
    display: inline-flex;
    font-size: 4rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(16, 16, 16);
    -webkit-text-fill-color: #ffffff00;
    text-shadow: 0px 0px 10px #df9847;
  }

  #openCloseBox {
    font-family: "Monument", sans-serif;
    width: 100%;
    #openCloseBtn {
      background-color: white;
      height: 1.5em;
      text-align: center;
      margin: 5em auto;
      border-radius: 10px;
      color: #6a6a6a;
      letter-spacing: 2px;
      font-weight: bolder;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5pt;
    }

    #openCloseBtn:hover,
    #openCloseBtn:focus {
      color: #c8c8c8;
      transition: all ease 0.2s 0s;
    }
  }
  .gifZip {
    animation: fadeIn 2s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 5;
      transform: translateZ(0);
    }
  }

  .gifs {
    display: flex;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    border: solid 1px rgb(166, 166, 166);
    box-shadow: 0px 8px 10px #808080;
  }

  .gitTitle {
    font-family: "Libre Baskerville", serif;
    font-size: 17pt;
    margin-bottom: 10px;
  }

  .github {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 13pt;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: underline;
  }

  .question1 {
    font-family: "Gowun Dodum", sans-serif;
    letter-spacing: 2pt;
    font-size: 17pt;
    color: #d16a5d;
    font-weight: bolder;
    margin: 80px 0 50px;
  }

  .question2 {
    font-family: "Gowun Dodum", sans-serif;
    letter-spacing: 2pt;
    font-size: 17pt;
    color: #3a773f;
    font-weight: bolder;
    margin: 80px 0 50px;
  }

  .answer {
    justify-content: center;
    font-family: "Nanum Gothic Coding", monospace;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 12pt;
    color: #313131;
    font-weight: 600;
    margin: 0 auto 50px;
    max-width: 600px;
    padding-top: 15pt;
  }
}

/* 데스크탑 기기 (1024px 이상) */
@media only screen and (min-width: 1024px) {
  .v2 h4 {
    font-family: "Monument", sans-serif;
    margin: 1.5rem;
    display: inline-flex;
    font-size: 5rem;
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-fill-color: #ffffff00;
    text-shadow: 0px 0px 10px #ef6e3f;
  }

  .v3 h4 {
    font-family: "Monument", sans-serif;
    margin: 1.5rem;
    display: inline-flex;
    font-size: 5rem;
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(16, 16, 16);
    -webkit-text-fill-color: #ffffff00;
    text-shadow: 0px 0px 10px #df9847;
  }

  #openCloseBox {
    font-family: "Monument", sans-serif;
    width: 100%;
    #openCloseBtn {
      background-color: white;
      height: 1.5em;
      text-align: center;
      margin: 5em auto;
      border-radius: 10px;
      color: #6a6a6a;
      letter-spacing: 2px;
      font-weight: bolder;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5pt;
    }

    #openCloseBtn:hover,
    #openCloseBtn:focus {
      color: #c8c8c8;
      transition: all ease 0.2s 0s;
    }
  }
  .gifZip {
    animation: fadeIn 2s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 5;
      transform: translateZ(0);
    }
  }

  .gifs {
    display: flex;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;

    border: solid 1px rgb(166, 166, 166);
    box-shadow: 0px 7px 7px #6262625e;
  }

  .gitTitle {
    font-family: "Libre Baskerville", serif;
    font-size: 20pt;
    margin-bottom: 10px;
  }

  .github {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 15pt;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: underline;
  }

  .question1 {
    font-family: "Gowun Dodum", sans-serif;
    letter-spacing: 2pt;
    font-size: 20pt;
    color: #d16a5d;
    font-weight: bolder;
    margin: 80px 0 50px;
  }

  .question2 {
    font-family: "Gowun Dodum", sans-serif;
    letter-spacing: 2pt;
    font-size: 20pt;
    color: #3a773f;
    font-weight: bolder;
    margin: 80px 0 50px;
  }

  .answer {
    justify-content: center;
    font-family: "Nanum Gothic Coding", monospace;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 15pt;
    color: #313131;
    font-weight: 600;
    margin: 0 auto 50px;
    max-width: 1150px;
    padding-top: 15pt;
  }
}
