/* 폰트 */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}

@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(./img/twentyThree.jpg);
  background-size: 130vi;
  // width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // padding: 1px;
  // background: linear-gradient(-45deg, #e9d8cd, #ede2d9, #eed6c6, #eeddd3);
  // background-size: 3000%;
  // animation: gradient 10s ease infinite;
  height: 100vh;
  // width: 100vw;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* 스크롤바 */
body::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #e1ccbf88; /* 스크롤바의 색상 */

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #feefd4cb; /*스크롤바 뒷 배경 색상*/
}

a {
  color: rgb(94, 94, 94);
  text-decoration: none;
  text-decoration-color: #ffffff;
}

#topBtn {
  font-weight: bold;
  width: 60px;
  height: 54px;
  opacity: 0.3;
  padding-bottom: 1em;
  position: fixed;
  bottom: 3em;
  right: 1.2em;
  background-color: transparent;
  border: none;
  &:before,
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    background-color: #ffffff;
    font-size: 7.2pt;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: gray;
    box-shadow: rgb(255, 255, 255) 0 0 1.8px 1.8px;
    left: 30px;
    top: 0;
    width: 30px;
    height: 48px;
    border-radius: 30px 30px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  &:hover {
    color: white;
    &:before,
    &:after {
      background-color: #c89693;
      transition: all ease 0.24s 0s;
      box-shadow: inset 0 0 0 1.2em var(--hover);
    }
  }
  &:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
}

/* 모바일 기기 (768px 미만) */
@media only screen and (max-width: 767px) {
  body {
    background-image: url(./img/twentyThree.jpg);
    background-size: 200vi;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }

  .main {
    //  모바일 기기에 대한 스타일 조정
    .main-background {
      width: 100%;
      height: 600px;
      background-size: cover;
      margin: auto;
      padding: 1pt;
      background-image: url(./img/twentySix.jpg);
    }

    .main-title {
      margin-top: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
    }

    .main-title h1 {
      width: 100%;
      color: #ffffff;
      font-size: 6em;
      margin: 0;
      text-align: center;
    }

    .main-title h1:nth-child(1) {
      opacity: 0.8;

      top: 0;
      color: #ffffff;
      position: absolute;
      animation: animate 5s ease-in-out infinite;
    }
    .main-title h1:nth-child(2) {
      color: transparent;
      -webkit-text-stroke: 1px #ffffff;
    }

    @keyframes animate {
      0%,
      100% {
        clip-path: polygon(
          0% 70%,
          10% 72%,
          20% 74%,
          30% 76%,
          40% 78%,
          50% 80%,
          60% 82%,
          70% 84%,
          80% 86%,
          90% 88%,
          100% 90%,
          100% 100%,
          0% 100%
        );
      }

      50% {
        clip-path: polygon(
          0% 70%,
          10% 73%,
          20% 76%,
          30% 78%,
          40% 81%,
          50% 83%,
          60% 86%,
          70% 83%,
          80% 81%,
          90% 79%,
          100% 76%,
          100% 100%,
          0% 100%
        );
      }
    }

    #main-inner {
      font-family: "Noto Serif Lao", serif;
      color: rgb(255, 255, 255);
      text-align: center;
      align-items: center;
      font-size: 30pt;
      font-weight: 900;
      font-style: italic;
      text-shadow: 0 0 15pt #ffffff;
    }

    .second-box {
      width: 70%;
      max-width: 600px;
      box-shadow: 0px 0px 10px 2px rgba(7, 7, 7, 0.185);
      background: rgba(119, 152, 144, 0.153);
      border-radius: 10px;
      margin: 20px auto;
      position: relative;
      top: -4em;
      box-sizing: border-box;
      text-align: center;
      color: black;
      padding: 50px 0;

      .masking {
        z-index: 3;
        margin-top: -8em;
        display: flex;
        justify-content: center;
        transform: rotate(40deg);
        opacity: 0.5;
      }

      .aboutMe {
        font-family: "Montserrat", sans-serif;
        font-size: 35pt;
        font-weight: 900;
        letter-spacing: -0.5pt;
        color: #426e5ad1;
      }
      .intro {
        font-size: 15pt;
        line-height: 2em;
        border-color: #ffffff;
      }
      .aboutQ {
        font-family: "Nanum Gothic", sans-serif;
        font-weight: bolder;
        color: #117a4e;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.603);

        padding: 3pt 5pt;
        font-size: 12pt;
        line-height: 3em;
        letter-spacing: 0.5pt;
      }
      .aboutA {
        font-family: "TAEBAEKmilkyway";
        letter-spacing: 4pt;
        font-size: 11pt;
        color: #572420;
        font-weight: 900;
      }
    }

    #introInner {
      font-family: "Nanum Gothic", sans-serif;
      letter-spacing: -0.5pt;
      font-size: 13pt;
      line-height: 2em;
      margin-top: 50px;
      justify-content: center;
      text-align: center;
      color: #000000;
    }
  }
  .textBox {
    font-family: "Noto Serif KR", serif;
    // max-width: 100ch;
    text-align: center;
    width: 100%;
    max-width: 450px;
    margin: 30px auto 80px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-size: 14pt;

    transform: scale(1);
    animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);

    .line {
      text-decoration-line: inherit;
    }
    > span {
      display: inline-block;
      opacity: 0;
      filter: blur(2px);
    }
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  .textIn {
    color: #3a3231;
  }
  .name {
    font-weight: 700;
    font-size: 19pt;
    color: #156639;
  }

  .wrapper.v1 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
  }

  .v1 h4 {
    font-family: "Monument", sans-serif;
    font-size: 3rem;
    background-position: 0 0;
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(16, 16, 16);
    -webkit-text-fill-color: #ffffff00;
    text-shadow: 0px 0px 10px #ffffff;
  }

  .skill {
    margin-bottom: 50px;
  }

  .wrapper.v2 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  .wrapper.v3 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  .icons {
    width: 150px;

    &:hover,
    &:focus {
      transform: scale(1.1);
      transition: 0.3s;
      filter: drop-shadow(3px 0px 6px #ca8d8da0);
    }
  }
  #fin {
    margin: 100px 0;
    padding-bottom: 50px;
    text-align: center;
  }
}

/* 태블릿 기기 (768px ~ 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* 태블릿 기기에 대한 스타일 조정 */
  .main {
    .main-background {
      width: 100%;
      height: 600px;
      background-size: 100%;
      margin: auto;
      padding: 1pt;
      background-image: url(./img/twentyFour.jpg);
    }

    .main-title {
      margin-top: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
    }

    .main-title h1 {
      width: 100%;
      color: #ffffff;
      font-size: 6em;
      margin: 0;
      text-align: center;
    }

    .main-title h1:nth-child(1) {
      opacity: 0.8;

      top: 0;
      color: #ffffff;
      position: absolute;
      animation: animate 5s ease-in-out infinite;
    }
    .main-title h1:nth-child(2) {
      color: transparent;
      -webkit-text-stroke: 1px #ffffff;
    }

    @keyframes animate {
      0%,
      100% {
        clip-path: polygon(
          0% 50%,
          10% 52%,
          20% 54%,
          30% 56%,
          40% 58%,
          50% 60%,
          60% 62%,
          70% 64%,
          80% 66%,
          90% 68%,
          100% 80%,
          100% 100%,
          0% 100%
        );
      }

      50% {
        clip-path: polygon(
          0% 60%,
          10% 63%,
          20% 66%,
          30% 68%,
          40% 71%,
          50% 73%,
          60% 76%,
          70% 73%,
          80% 71%,
          90% 69%,
          100% 66%,
          100% 100%,
          0% 100%
        );
      }
    }

    #main-inner {
      font-family: "Noto Serif Lao", serif;
      color: rgb(255, 255, 255);
      text-align: center;
      align-items: center;
      font-size: 30pt;
      font-weight: 900;
      font-style: italic;
      text-shadow: 0 0 15pt #ffffff;
    }

    .second-box {
      width: 70%;
      max-width: 600px;
      background: rgba(227, 101, 27, 0.153);
      box-shadow: 0px 0px 10px 2px rgba(7, 7, 7, 0.185);
      border-radius: 10px;
      margin: 0 auto;
      position: relative;
      top: -2em;
      box-sizing: border-box;
      text-align: center;
      color: black;
      padding: 60px;

      .masking {
        z-index: 3;
        margin-top: -9em;
        display: flex;
        justify-content: center;
        opacity: 0.5;
        transform: rotate(45deg);
      }

      .aboutMe {
        font-family: "Montserrat", sans-serif;
        font-size: 40pt;
        font-weight: 900;
        letter-spacing: -0.5pt;
        color: #c02f2ad1;
      }
      .intro {
        font-size: 15pt;
        line-height: 2em;
        border-color: #ffffff;
      }
      .aboutQ {
        font-family: "Nanum Gothic", sans-serif;
        font-weight: bolder;
        color: #a14239;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.687);
        padding: 2pt 4pt;
        font-size: 14pt;
        line-height: 2em;
        letter-spacing: 0.5pt;
      }
      .aboutA {
        font-family: "TAEBAEKmilkyway";
        letter-spacing: 3pt;
        font-size: 13pt;
        color: #572420;
        font-weight: 900;
      }
    }

    #introInner {
      font-family: "Nanum Gothic", sans-serif;
      letter-spacing: -0.5pt;
      font-size: 13pt;
      line-height: 2em;
      margin-top: 50px;
      justify-content: center;
      text-align: center;
      color: #000000;
    }
  }
  .textBox {
    font-family: "Noto Serif KR", serif;
    // max-width: 100ch;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto 80px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-size: 14pt;

    transform: scale(1);
    animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);

    .line {
      text-decoration-line: inherit;
    }
    > span {
      display: inline-block;
      opacity: 0;
      filter: blur(2px);
    }
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  .textIn {
    color: #3a3231;
  }
  .name {
    font-weight: 700;
    font-size: 19pt;
    color: #a1552c;
  }

  .wrapper.v1 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
  }

  .v1 h4 {
    font-family: "Monument", sans-serif;
    margin: 1.5rem;
    display: inline-flex;
    font-size: 4rem;
    background-position: 0 0;
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(16, 16, 16);
    -webkit-text-fill-color: #ffffff00;
    text-shadow: 0px 0px 10px #ffffff;
  }

  .skill {
    margin-bottom: 50px;
  }

  .wrapper.v2 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
  .wrapper.v3 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  .icons {
    width: 200px;

    &:hover,
    &:focus {
      transform: scale(1.1);
      transition: 0.3s;
      filter: drop-shadow(3px 0px 6px #ca8d8da0);
    }
  }
  #fin {
    margin: 100px 0;
    padding-bottom: 50px;
    text-align: center;
  }
}

/* 데스크탑 기기 (1024px 이상) */
@media only screen and (min-width: 1024px) {
  /* 데스크탑 기기에 대한 스타일 조정 */

  .main-background {
    width: 100%;
    height: 800px;
    background-size: 100%;
    margin: auto;
    background-position: bottom;
    padding: 1px;
    background-image: url(./img/twentyFour.jpg);
  }

  .main-title {
    margin-top: 15%;
    position: relative;
  }

  .main-title h1 {
    width: 100%;
    color: #ffffff;
    font-size: 8em;
    margin: 0;
    text-align: center;
  }

  .main-title h1:nth-child(1) {
    opacity: 0.8;
    top: 0;
    color: #ffffff98;
    position: absolute;
    animation: animate 4s ease-in-out infinite;
  }

  .main-title h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }

    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

  #main-inner {
    font-family: "Noto Serif Lao", serif;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    margin-top: -5px;
    font-size: 35pt;
    font-weight: 900;
    font-style: italic;
    text-shadow: 0 0 15pt #ffffff;
  }

  .second-box {
    width: 50%;
    max-width: 550px;
    background: rgba(227, 101, 27, 0.153);
    box-shadow: 0px 0px 10px 2px rgba(7, 7, 7, 0.185);
    border-radius: 10px;
    margin: 50px auto;
    position: relative;
    top: -90px;
    box-sizing: border-box;
    text-align: center;
    color: black;
    padding: 100px;

    .masking {
      z-index: 3;
      margin-top: -180px;
      display: flex;
      justify-content: center;
      opacity: 0.5;
      transform: rotate(40deg);
    }

    .aboutMe {
      // text-shadow: 0px 2px 4px #ffffff00;
      font-family: "Montserrat", sans-serif;
      font-size: 40pt;
      font-weight: 900;
      letter-spacing: -0.5pt;
      color: #c02f2ad1;
    }
    .intro {
      font-size: 15pt;
      line-height: 2em;
      border-color: #ffffff;
    }
    .aboutQ {
      // font-family: "Libre Baskerville", serif;
      font-family: "Nanum Gothic", sans-serif;
      font-weight: bolder;
      color: #a14239;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.502);
      padding: 5pt;
      font-size: 15pt;
      line-height: 3em;
      letter-spacing: 0.5pt;
    }
    .aboutA {
      font-family: "TAEBAEKmilkyway";
      letter-spacing: 3pt;
      font-size: 14pt;
      color: #572420;
      font-weight: 900;
    }
  }

  #introInner {
    font-family: "Nanum Gothic", sans-serif;
    letter-spacing: -0.5pt;
    font-size: 13pt;
    line-height: 2em;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    color: #000000;
  }

  .textBox {
    font-family: "Noto Serif KR", serif;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 100px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-size: 16pt;

    transform: scale(1);
    animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);

    .line {
      text-decoration-line: inherit;
    }
    > span {
      display: inline-block;
      opacity: 0;
      filter: blur(2px);
    }
  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .textIn {
    color: #3a3231;
  }
  .name {
    font-weight: 700;
    font-size: 22pt;
    color: #d15c31;
  }

  .wrapper.v1 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
  }

  .v1 h4 {
    font-family: "Monument", sans-serif;
    margin: 1.5rem;
    display: inline-flex;
    font-size: 5rem;
    background-position: 0 0;
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(16, 16, 16);
    -webkit-text-fill-color: #ffffff00;
    text-shadow: 0px 0px 10px #ffffff;
  }

  .skill {
    margin-bottom: 50px;
  }

  .wrapper.v2 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  .wrapper.v3 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  .icons {
    width: 200px;

    &:hover,
    &:focus {
      transform: scale(1.1);
      transition: 0.3s;
      filter: drop-shadow(3px 0px 10px #ca8d8da0);
    }
  }

  a {
    color: rgb(94, 94, 94);
    text-decoration: none;
    text-decoration-color: #ffffff;
  }

  .gifZip {
    text-align: center;
  }

  .gitTitle {
    font-family: "Libre Baskerville", serif;
    font-size: 20pt;
    margin-bottom: 10px;
  }
  .github {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 15pt;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: underline;
  }
  #fin {
    margin: 100px 0;
    padding-bottom: 50px;
    text-align: center;
  }
}
